*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --ff-primary: 'Inter', sans-serif;
  --clr-primary: #2B283A
}

body{
  font-family: var(--ff-primary);
}
img{
  width: 100%;
}

nav{
  background-color:#F55A5A;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.logo{
  width: 40px;
  height: 40px;
}

.nav__txt{
  font-size: 0.8rem;
  color: white;
}
.card__container{
  padding: 2.5rem;
}
.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width:700px;
  margin: 0 auto;
  
}
@media(max-width:400px){
  .card{
    flex-direction: column;
    align-items: flex-start;
  }
}
.card__img{
  height: 200px;
  width: 150px;
  border-radius: 5px;
  object-fit: cover;
}
.location__container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconify{
  color: red;
}
.location{
  font-family: var(--ff-primary);
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-left: 0.25rem;
  color: var(--clr-primary);
  
}
.google__link{
  margin-left: 0.75rem;
  font-size: 0.6rem;
  color: #918E9B;
}
.card__title{
  color:var(--clr-primary);
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem 1rem 1rem 0;
}
.date{
  font-size: 0.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.description{
  font-size: 0.6rem;
  line-height: 150%;
}

.card__line::after{
  content: "";
  display: flex;
  align-items: center;
  max-width: 700px;
  border: 1px solid #F5F5F5;
  margin: 0 auto;
  margin-top:2rem;
  margin-bottom: 2rem;
}